<%- include('header') %>
<form method="GET" action="/cotacao">
  <input placeholder="Cotação dolar" name="cotacao" value="<%= cotacao %>" />
  <br>
  <input placeholder="Quantidade de dolares" name="quantidade" />
  <br>
  <button>Converter</button>
</form>

<%- include('footer') %>